
- var articleDate = datetime.format(new Date(article.createdDateTime), "%m/%d/%Y %r");

section
	include partials/searchForm
	
section
	div#articleDetails.page-header

		h2!= article.title + " "
			br
			small
				#{articleDate}

	div#articleDetailsBody!= article.body
