
- var articleDate;

section
	include partials/searchForm

div#article.page-header
	h2 Articles
	
div#articleResults
	- if(articlesList.length === 0)
		p
			small Zero Results
	- else
		- each article, art in articlesList
			- articleDate = datetime.format(new Date(article.createdDateTime), "%m/%d/%Y %r");
			h2
				a(href='/articles/' + article.title.toFolderNameSafe() + '/' + article.uid + '/')!= article.title
			h4.flt-right
				small!= articleDate
			!{article.body.substr(0, article.body.indexOf('</p>') + 6)}
			p
				a(href='/articles/' + article.title.toFolderNameSafe() + '/' + article.uid + '/') Read more...
