div#wrapper!= partial('partials/header.jade')
	p Hello! I am testing some crap
	div#articleList
		ul.articles
			- each article, art in articles
				li.article
					a(href='/articles/' + article.title.toLowerCase().replace(/\W/g, '-') + '/' + article.uid + '/')!= article.title