
section
	include partials/searchForm

section
	include partials/tagsList

section
	div#articleListSummary.page-header
		h2 Articles
	include partials/articleListSummary

section
	div#photosListSummary.page-header
		h2 Photos
	include partials/photoListSummary

section
	div#twitterListSummary.page-header
		h2 Tweets
	include partials/twitterListSummary
