div#wrapper!= partial('partials/header.jade')
	p Hello! I am testing some crap
	div#articleList
		div.article
			div.title!= article.title
			div.created!= article.createdDateTime
			div.body!= article.body