div#wrapper!= partial('partials/header')

	p I am testing some crap

	div#wrapper

		div#articlesSummary!= partial('partials/articleListSummary')

		div#flickrWall
			ul
				li.flickrImg
					img
		
		a(href="http://coderwall.com/amaurer") Test

		div#twitter
			ul
				li.tweet
					a(href="") tests