
div.page-header
	h2 Profile
	
div#profileResult
	h3 Andrew Maurer
	p I am a Sr. Web Developer at DealerTire and a hobbyist photographer in my free time. I have been developing over seven years and I am a master of <a href="http://www.javascript.com/" title="JavaScript">JavaScript</a>, <a href="http://www.adobe.com/products/coldfusion-family.html" title="ColdFusion">ColdFusion</a> and <a href="http://www.nodejs.org" title="Node.js">Nodejs</a> while having a passion for learning new things. Things that get me excited are "AH-HA moments", language performance, new tricks in <a href="http://www.ubuntu.com/" title"Ubuntu">Ubuntu</a>, accomplishing tasks throughout the day and <a href="http://us.battle.net/wow/" title"World of Warcraft">World of Warcraft</a>. I currently live in Seven Hills, Ohio (a suburb of Cleveland) with my wife and two <a href="http://www.italiangreyhound.org/" title="Italian Greyhound">Italian Greyhounds</a> I often refer to as "Monsters". Resume is available upon request.

	div.row

		div.span4
			h4 Languages
			ul
				li ColdFusion
				li JavaScript
				li Nodejs
				li Python
				li jQuery
				li YUI
				li CSS
				li Less Css
				li Jade Templates
				li XHTML
				li XML
				li JSON
				li T-SQL
				li MSSQL
				li MySQL

		div.span6
			h4 Applications
			ul
				li ColdFusion Server
				li Nodejs
				li Google App Engine (GAE)
				li Apache
				li IIS
				li Eclipse (CFBuilder, Aptana, CFEclipse, Subclipse)
				li Adobe Dreamweaver
				li Adobe Flash/Flex Builder
				li Adobe Fireworks
				li Tortoise SVN
				li Git
				li WebTrends Analytics
				li SQL Studio
				li MySQL Administrator Tools
				li JMeter

		div.span6
			h4 Certification
			ul
				li Advanced ColdFusion 8
				li Comptia A+ 
				li Comptia Network+
				li Cypress College - Network Administration
				li Cypress College - Network Security
				li Cypress College - Cisco CCNA Certification (Inc.)

			h4 Achievements
			ul
				li Awarded Employee of the Quater for Leadership.
				li Multiple Monthly Recognitions Received.
			