div#wrapper!= partial('partials/header')

	p Search Results

	div#wrapper

		div#articlesSummary!= partial('partials/articleListSummary')

		div#photosSummary!= partial('partials/photoSummary')

		div#flickrWall
			ul
				li.flickrImg
					img
		
		a(href="http://coderwall.com/amaurer") Test

