
section
	include partials/searchForm
	include partials/tagsList

div#searchResults

	section
		div#articleListSummary.page-header
			h2 Articles
		include partials/articleListSummary

	section
		div#photosListSummary.page-header
			h2 Photos
		include partials/photoListSummary
