div#articleListSummary.page-header
	h2 Article Summary List
div#articleListSummaryResults
	- each article, art in articlesList
		h3
			a(href='/articles/' + article.title.toLowerCase().replace(/\W/g, '-') + '/' + article.uid + '/')!= article.title
		!{article.summary}