
- var articleDate;

div#articleListSummaryResults
	- if(articlesList.length === 0)
		p
			small Zero Results
	- else
		- each article, art in articlesList
			article
				h3
					a(href='/articles/' + article.title.toFolderNameSafe() + '/' + article.uid + '/')!= article.title
				div.flt-right
					small
						- articleDate = datetime.format(new Date(article.createdDateTime), "%m/%d/%Y %r");
						#{articleDate}
				!{article.summary}
