
- if( page == null )
	- var page = "";

div.topbar

	div.topbar-inner

		div.container
			
			div.brand

				h3
					a(href="/", title="Home - Pictures, JavaScript, ColdFusion, Node.js, CSS, Jade, Less") Andrew Maurer

			ul.nav

				li(class=( page === 'home' )? 'active' : '')
					a(href="/", title="Home - Pictures, JavaScript, ColdFusion, Node.js, CSS, Jade, Less") Home

				li(class=( page === 'articles' )? 'active' : '')
					a(href="/articles/", title="Articles on Code by Andrew Maurer - (JavaScript, ColdFusion, Node.js, CSS, Jade, Less)") Articles

				li(class=( page === 'photos' )? 'active' : '')
					a(href="/photos/", title="Photos of my life experiences and those close to me.") Photos

				li(class=( page === 'profile' )? 'active' : '')
					a(href="/profile/", title="All about me and my experience.") Profile

				li(class=( page === 'contact' )? 'active' : '')
					a(href="/contact/", title="How to contact the Web Developer - Andrew Maurer") Contact          
