
div#twitterListSummary.page-header
	h2 Twitter Summary List

div#twitterListSummaryResults

	- if(tweetsList.length === 0)
		p
			small Zero Results
	- else
		ul.unstyled
			- each tweet, t in tweetsList
				li
					a(href='http://twitter.com/' + tweet.from_user + '/')
						img(src=tweet.profile_image_url, alt=tweet.from_user)
					#{tweet.text}
